# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala
4. SQL
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. ggplot
4. sklearn

|Data Science tools|
|:----:|
|Jupyter notebook|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* List popular Languages for Data Science
* List popular Data Science tools
* Demonstrate basic code cell syntax

## Author
Samuel Kekäläinen